<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport'  content='width=device-width,initial-scale=1,maximum-scale=1'/> 
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <title>DailyLiberty  |  Edit your article</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/article.js"></script>
        <link rel='stylesheet' href='/css/article.css'>
   </head>
    <body id="prueba" >
        <%
      var title = ""; 
      var subtitle = ""; 
      var content = ""; 
      var category = "";
      if ( article ) { 
        title = article.title;
        subtitle = article.subtitle;
        content = article.content;
        category = article.category;
      }%>
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="principal.html">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar">
                    <button id="botonSearch" class="botonSearch">
                        <img src="/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton"></button>
                        <div style="left: -190%" class="dropContingut">
                            <a href="login.html" >Veure Perfil</a>
                            <a href="register.html">Escriure Article</a>
                            <a href="../Pagina-principal/principal.html">Sortir</a>
                      </div>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
        <div id="divFondo"></div>
        <nav>
            <ul class="menu">
                <li><a href="#">Inici</a></li>
                <li><a href="../Tendencies/tendencies.html">Tendències</a></li>
                <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                <div id="collapse1" class="collapse">
                    <div class="panel-body">
                        <a href="principal.html">Política</a>
                        <a href="principal.html">Esports</a>
                        <a href="principal.html">Ciència</a>
        	            <a href="principal.html">Tecnologia</a>
        	            <a href="principal.html">Altres</a>   
                    </div>
                </div>   
                <li><a href="#">Subscripcions</a></li>
            </ul>
        </nav>
              
        
        
        <section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="container">
              <h2>DailyLiberty</h2>
              <p>Edit your articles here </p>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="title">Title</label>
                        <pre><textarea id="texte" class="form-control" rows="1" placeholder="Pick up a title" required><%=title%></textarea></pre>
                    </div>
                    <div class="form-group">
                      <label for="subtitle">Subtitle</label>
                       <pre><textarea  class="form-control" rows="2" placeholder="Pick up a subtitle" required><%=subtitle%></textarea></pre>
                    </div>
                      
                    <div class="form-group">
                      <label for="description">Description</label>
                        <pre><textarea  class="form-control" rows="15" placeholder="Describe your article" required><%=content%></textarea></pre>
                      </div>
                      <div class="form-group">
                        <label for="category">Category</label>
                     <pre><textarea  class="form-control" rows="1" placeholder="ex. Sports,Culture,etc." required><%=category%></textarea></pre><br>

                    </div>

                      <div>
                        <label for="image">Image</label><br>
                     <button type="button" class="btn btn-default" onclick="cambiarfoto(this)">Click here</button><br><br><br>

                    </div>
                      <button type="button" class="btn btn-default" onclick="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-default">Save Changes</button>
                    <button type="button" class="btn btn-default" onclick="myFunction()" target="_blank"> Preview</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </section>
             </section>
        
       
        <script src="/js/mostrarNav.js"></script>
        
    </body>
</html>