<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport'  content='width=device-width,initial-scale=1,maximum-scale=1'/> 
        <title>DailyLiberty  |  Subscribers</title>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/subscritsaTU.js"></script>
        <link rel='stylesheet' href='/css/subscritsaTU.css'>
   </head>
    <body id="prueba" >
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="/">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar">
                    <button id="botonSearch" class="botonSearch">
                        <img src="/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton"></button>
                        <% if (isLoggedIn == true) { %>
                            <div style="left: -190%" class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/newarticle">Escriure Article</a>
                                <a href="/logout">Log Out</a>
                            </div>
                        <%} else {%>
                            <div style="left: -60%" class="dropContingut">
                                <a href="/login" >Sign In</a>
                                <a href="/register">Register</a>
                            </div>
                        <% } %>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
        <div id="divFondo"></div>
        <nav>
            <ul class="menu">
                <li><a href="/index">Inici</a></li>
                  <li><a href="/tendencies">Tendències</a></li>
                  <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                  <div id="collapse1" class="collapse">
                      <div class="panel-body">
                          <a href="/index">Política</a>
                          <a href="/index">Esports</a>
                          <a href="/index">Ciència</a>
                        <a href="/index">Tecnologia</a>
                        <a href="/index">Altres</a>
                      </div>
                  </div>
                  <li><a href="/following">Subscripcions</a></li>
            </ul>
        </nav>
    <div class="container bootstrap snippet col-md-offset-2">
        <h1>You have these subscribers</h1>
     <div class="col-lg-3 col-md-4 col-sm-6">
    	<!-- Begin user profile -->
    	<div class="box-info text-center user-profile-2" >
    		<div class="user-profile-inner"> 			
    			<img src="/img/user_male2-512.png" id="pointerfoto" class="img-circle profile-avatar" alt="User avatar" onclick="myFunction()">
                <h4 class="black">Marc Català</h4>
    			<h5>info.marc32@gmail.com</h5>
    		</div>
    	</div>
    </div> 
    
                 <div class="col-lg-3 col-md-4 col-sm-6">
    	<!-- Begin user profile -->
    	<div class="box-info text-center user-profile-2" >
    		<div class="user-profile-inner"> 			
    			<img src="/img/user_male2-512.png" id="pointerfoto" class="img-circle profile-avatar" alt="User avatar" onclick="myFunction()">
                <h4 class="black">Marc Català</h4>
    			<h5>info.marc32@gmail.com</h5>
    		</div>
    	</div>
    </div> 
                <div class="col-lg-3 col-md-4 col-sm-6">
    	<!-- Begin user profile -->
    	<div class="box-info text-center user-profile-2" >
    		<div class="user-profile-inner"> 			
    			<img src="/img/user_male2-512.png" id="pointerfoto" class="img-circle profile-avatar" alt="User avatar" onclick="myFunction()">
                <h4 class="black">Marc Català</h4>
    			<h5>info.marc32@gmail.com</h5>
    		</div>
    	</div>
    </div> 
                  <div class="col-lg-3 col-md-4 col-sm-6">
    	<!-- Begin user profile -->
    	<div class="box-info text-center user-profile-2" >
    		<div class="user-profile-inner"> 			
    			<img src="/img/user_male2-512.png" id="pointerfoto" class="img-circle profile-avatar" alt="User avatar"onclick="myFunction()">
                <h4 class="black">Marc Català</h4>
    			<h5>info.marc32@gmail.com</h5>
    		</div>
    	</div>
    </div> 
                  <div class="col-lg-3 col-md-4 col-sm-6">
    	<!-- Begin user profile -->
    	<div class="box-info text-center user-profile-2" >
    		<div class="user-profile-inner"> 			
    			<img src="/img/user_male2-512.png" id="pointerfoto" class="img-circle profile-avatar" alt="User avatar" onclick="myFunction()">
                <h4 class="black">Marc Català</h4>
    			<h5>info.marc32@gmail.com</h5>
    		</div>
    	</div>
    </div> 
        
    
</div>  
        
             </section>
        <script src="/js/mostrarNav.js"></script>
        
    </body>
</html>
