<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DailyLiberty  |  Log in</title>
  <style media="screen">
    body {
      background-origin: content-box;
      background-position: -100 top;
      background-repeat: no-repeat;
    }
    .box {
      width: 398px;
      height: 285px;
      padding-top: 10px;
      background-color: beige;
      border-radius: 10px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 200px;
      border-style: solid;
      border-color: #802b00;
      border-width: 1px;
    }
      
    .boxlogo {
      width: 598px;
      height: 150px;
      padding-top: 50px;
      background-color: white;
      border-radius: 10px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 30px;
      border-style: solid;
      border-color: #ffffff;
      border-width: 1px;
    }
    .kov {
      width: 500px;
      height: auto;
      margin-left: 70px;
      /*margin-top: 60px;*/
        
    }
    .subt {
      color: black;
      font-family: arial;
      padding-left: 15px;
      margin-left: 20px;
      font-size: 12px;
    }
    .form {
      margin-left: 20px;
    }
    .usu {
      font-family: arial;
      width: 75%;
      height: 30px;
      margin-left: 15px;
      padding: 10px 20px;
      border-color: lightgrey;
      border-radius: 5px;
    }
    .pass {
      font-family: arial;
      width: 75%;
      height: 30px;
      margin-left: 15px;
      padding: 10px 20px;
      border-color: lightgrey;
      border-radius: 5px;
    }
    .but {
      width: 87%;
      height: 50px;
      margin-left: 15px;
      padding: 10px 20px;
      background-color: #802b00;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      transition: background-color, 0.25s;
    }
    .but:hover {
      background-color: #662200;
    }
    .but:active {
      background-color: #4d1a00;
    }
    .create {
      color: grey;
      font-size: 11px;
      font-family: arial;
      margin-left: 15px;
    }
  </style>
</head>
<body>
    <div class="boxlogo">
        <img class="kov" src="../public/img/logo_dliberty.png" alt="KOV">
    </div>
  <div class="box">
    <p class="subt">To continue, please log in with your credentials:</p>
    <form action="/login" class="form" method="POST">
      <input id="us" class="usu" type="text" name="username" value="" placeholder="Username" maxlength="14" required><br><br>
      <input id="pw" class="pass" type="password" name="password" value="" placeholder="Password" maxlength="14" required><br><br>
      <button class="but" type="submit" name="button">LOG IN</button>
      <p class="create">Don't have an account? Create one <a href="register.ejs">here</a>.</p>
    </form>
     <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
  </div>
</body>
</html>
