<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DailyLiberty  |  Log in</title>
  <link rel='stylesheet' href='/css/login.css'>
</head>
<body>
    <div class="boxlogo">
        <img class="kov" src="/img/logo_dliberty.png" alt="KOV">
    </div>
  <div class="box">
    <p class="subt">To continue, please log in with your credentials:</p>
    <form action="/login" class="form" method="POST">
      <input id="us" class="usu" type="text" name="username" value="" placeholder="Username" maxlength="14" required><br><br>
      <input id="pw" class="pass" type="password" name="password" value="" placeholder="Password" maxlength="14" required><br><br>
      <button class="but" type="submit" name="button">LOG IN</button>
      <p class="create">Don't have an account? Create one <a href="/register">here</a>.</p>
    </form>
     <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
  </div>
</body>
</html>
