<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DailyLiberty  |  Register here</title>
  <link rel='stylesheet' href='/css/register.css'>
</head>
<body>
  <div class="box">
    <!--<img class="kov" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/W%26W_Logo.png" alt="KOV">-->
    <p class="subt">Welcome to DailyLiberty!</p>
    <p class="subt2">Register here</p>
   <% if (message.length > 0) { %>
        <div><%= message %></div>
    <% } %>
    <form class="form" onsubmit="return mySubmitFunction()" action="/register" method="POST">
        <span>
            <input id="nom" class="log" type="text" name="firstName" value="" placeholder="*First Name" required>
            <input id="ape" class="log" type="text" name="lastName" value="" placeholder="*Last Name" required><br>
        </span>
        <input id="us" class="log" type="text" name="username" value="" placeholder="*Username" minlength="3" maxlength="14" required>
        <span class="erroruserpass" hidden>ERROR: Username already in use.</span><br>
        <input id="em" class="log" type="email" name="email" value="" placeholder="*Your Email" required>
        <input id="pw" class="log" type="password" name="password" value="" placeholder="*Password" maxlength="10" required><br>
        <input id="pw2" class="log" type="password" name="" value="" placeholder="Repeat Password" maxlength="14" required>
        <span class="erroruserpass" hidden>ERROR: Passwords don't match.</span><br>
        <button class="but" type="submit" name="button">CREATE ACCOUNT</button>
        <p class="asterisco">*required fields</p>
        <a class="login" href="/login">Log in with an existing account.</a>
    </form>
  </div>
</body>
</html>
