<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1'/>    
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='../public/css/styleTendencies.css'>
   </head>
    <body id="prueba" >
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="../public/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="tendencies.html">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar"></input>
                    <button id="botonSearch" class="botonSearch">
                        <img src="../public/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton">
                            
                        </button>
                        <div class="dropContingut">
                            <a href="login.html" >Sign in</a>
                            <a href="register.html">Register</a>
                            <a href="about.html">About us</a>
                      </div>
                    </div>
                </li>
            </ul>
        </header>
        
        <section id ="cajasArticulos" class="cajas">
            <div id="divFondo"></div>
            <nav>
            
            <ul class="menu">
                <li><a href="indexNoSessio.html">Inici</a></li>
                <li><a href="#">Tendències</a></li>
                <li>
                    <a data-toggle="collapse" href="#collapse1">Categories</a>
                </li>
                    <div id="collapse1" class="collapse">
                        <div class="panel-body">
                            <a href="principal.html">Política</a>
        	                <a href="principal.html">Esports</a>
        	                <a href="principal.html">Ciència</a>
        	                <a href="principal.html">Tecnologia</a>
        	                <a href="principal.html">Altres</a>
        	                
                        </div>
                    </div>   
                <li><a href="#">Subscripcions</a></li>
            </ul>
        </nav>

               <div onclick="location.href = '../Pagina-principal/principal.html'" class="divImgArt">
                <div><img src="../public/img/girona.jpg"/></div>
                <article class="cajaArticle">
                    <header>
                        <h1>El Girona Futbol Club fa història i guanya fàcilment al tot poderós Reial Madrid</h1>
                    </header>
                    <section>
                        <h2>El Reial Madrid perd tres punts i comença a dir adéu a la lliga</h2>
                    </section>
                    <footer>
                        <div>
                            <p>ESPORTS</p>
                            <small>Edgar Lorenzo</small>
                        </div>
                    </footer>
                </article>
            </div>
 
               <div onclick="location.href = '../Pagina-principal/principal.html'" class="divImgArt">
                <div><img src="../public/img/puigdemont.jpg"/></div>
                <article class="cajaArticle">
                    <header>
                        <h1>Puigdemont i part del seu govern són a Brussel·les</h1>
                    </header>
                    <section>
                        <h2>El president de la Generalitat hi hauria anat per entrevistar-se amb dirigents flamencs</h2>
                    </section>
                    <footer>
                        <div>
                            <p>POLITICA</p>
                            <small>Edgar Lorenzo</small>
                        </div>
                    </footer>
                </article>
            </div>
               <div class="divImgArt">
                <div><img src="../public/img/ciencia.jpg"/></div>
                <article class="cajaArticle">
                    <header>
                        <h1>La ciència avança a passos agegantats</h1>
                    </header>
                    <section>
                        <h2>El Reial Madrid perd tres punts i comença a dir adéu a la lliga</h2>
                    </section>
                    <footer>
                        <div>
                            <p>CIENCIA</p>
                            <small>Edgar Lorenzo</small>
                        </div>
                    </footer>
                </article>
            </div>
 
               <div class="divImgArt">
                <div><img src="../public/img/girona.jpg"/></div>
                <article class="cajaArticle">
                    <header>
                        <h1>El Girona Futbol Club fa història i guanya fàcilment al tot poderós Reial Madrid</h1>
                    </header>
                    <section>
                        <h2>El Reial Madrid perd tres punts i comença a dir adéu a la lliga</h2>
                    </section>
                    <footer>
                        <div>
                            <p>ESPORTS</p>
                            <small>Edgar Lorenzo</small>
                        </div>
                    </footer>
                </article>
            </div>

            
                

           
       
        </section> 
        <script src="../public/js/mostrarNav.js"></script>
        
    </body>
</html>


