<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' min-width="20%" content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <link rel='stylesheet' href='/css/user.css'>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    </head>
    <body id="prueba">
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="/img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="principal.html">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar"></input>
                    <button id="botonSearch" class="botonSearch">
                        <img src="/img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton">Login</button>
                        <% if (isLoggedIn == true) { %>
                            <div class="dropContingut">
                                <a href="/profile" >Veure Perfil</a>
                                <a href="/newarticle">Escriure Article</a>
                                <a href="/logout">Log Out</a>
                            </div>
                        <%} else {%>
                            <div class="dropContingut">
                                <a href="/login" >Sign In</a>
                                <a href="/register">Register</a>
                            </div>
                        <% } %>
                    </div>
                </li>
            </ul>
        </header>
        <nav>
            <div id="divFondo"></div>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tendencies</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Subscriptions</a></li>
            </ul>
        </nav>
        <div id="wrapper">
          <div class="perfil">
            <h1 id="t0" class="t1"></h1>
            <br>
            <table height="196px" class="editprofile">
              <tr>
                <th>· Username:</th>
                <th id="th1" class="contenido"><%=user.username %></th>
              </tr>
              <tr>
                <th>· Full name:</th>
                <th id="th2" class="contenido"><%=user.firstName + " " + user.lastName %></th>
              </tr>
              <tr>
                <th>· Email:</th>
                <th id="th3" class="contenido"><%=user.email %></th>
              </tr>
              <tr>
                <th>· Birth date:</th>
                <th id="th4" class="contenido"></th>
              </tr>
              <tr>
                <th>· Articles written:</th>
                <th id="th5" class="contenido"></th>
              </tr>
              <tr>
                <th>· Average rating:</th>
                <th id="th6" class="contenido"></th>
              </tr>
              <tr>
                <th>· Followers:</th>
                <th id="th7" class="contenido"></th>
              </tr>
              <tr>
                <th>· About me:</th>
                <th id="th8" class="contenido"></th>
              </tr>
            </table>
          </div>
          <div class="cajafoto">
            <div class="foto">
              <img width="150px" height="150px" src="https://www.drupal.org/files/profile_default.jpg" alt="pic"><br><br>
              <button id="seguir" class="follow" onclick="follow()">Follow</button>
            </div>
          </div>
        </div>
        <br><br>
        <script src="/js/mostrarNav.js"></script>
        <script src="/js/follow.js">
        <script>alert('TO DO: CAL EDITAR LA BARRA PERQUÈ SIGUI NOMÉS PER USUARIS CONNECTATS + ESBORRAR CERCADOR')</script>
    </body>
</html>
