<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport'  content='width=device-width,initial-scale=1,maximum-scale=1'/> 
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='css/index.css'>
        <script>
            function numberto(n){
                x=(''+n).length;
                p=Math.pow;
                d=p(10,true);
                x-=x%3;
                return Math.round(n*d/p(10,x))/d+" kMGTPE"[x/3];
            }   
//            document.getElementsByClassName("visites").item
//            document.getElementByClassName('visites'). = numberto(document.getElementByClassName('visites');
//            document.getElementById("views1").innerHTML = numberto(document.getElementById("views1").innerHTML);
//            var priceEls = document.getElementsByClassName("visites");
//            for (var i = 0; i < priceEls.length; i++) {
//            var price = priceEls[i].innerText;
//                
//            document.getElementsByClassName('visites')[0].value = document.getElementsByClassName('visites')[0].value;
                
                //document.getElementById("views1").innerHTML = document.getElementsByClassName('visites')[0].value;
               
        </script>
   </head>
    <body id="prueba" >
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="principal.html">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <form action="results" method="GET">
                        <input id="search" type="search" placeholder="Buscar" name="search"></input>
                        <button id="botonSearch" class="botonSearch">
                            <img src="img/lupaBuscador.png"/>
                        </button>
                    </form>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton"></button>
                        <div style="left: -190%" class="dropContingut">
                            <a href="login.html" >Veure Perfil</a>
                            <a href="register.html">Escriure Article</a>
                            <a href="../Pagina-principal/principal.html">Sortir</a>
                      </div>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
        <div id="divFondo"></div>
        <nav>
            <ul class="menu">
                <li><a href="#">Inici</a></li>
                <li><a href="../Tendencies/tendencies.html">Tendències</a></li>
                <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                <div id="collapse1" class="collapse">
                    <div class="panel-body">
                        <a href="principal.html">Política</a>
                        <a href="principal.html">Esports</a>
                        <a href="principal.html">Ciència</a>
        	            <a href="principal.html">Tecnologia</a>
        	            <a href="principal.html">Altres</a>   
                    </div>
                </div>   
                <li><a href="#">Subscripcions</a></li>
            </ul>
        </nav>
                <a class="articulo" href="principal.html"><article class="cajaI">   
                    <header>
                        <img src="img/girona.jpg"/>
                    </header>
                    <section>
                        <div class="titulos">
                            <h1>El Girona Futbol Club fa història davant del tot poderós Reial Madrid</h1>   
                            <h2>El Reial Madrid perd tres punts i comença a dir adéu a la lliga</h2>
                        </div>
                        <div class="viewsDiv">
                            <div id="views" class="visites">1223</div>
                            <span class="nom">&nbsp;views</span>
                        </div>
                        
                        <div class="footerArticle">
                            <p>ESPORTS</p>
                            <small>Edgar Lorenzo</small>
                        </div>

                    </section>
             </article></a>
            <a class="articulo" href="principal.html"><article class="cajaI">   
                    <header>
                        <img src="img/puigdemont.jpg"/>
                    </header>
                    <section>
                       <div class="titulos">
                        <h1>Puigdemont i part del seu govern són a Brussel·les</h1>   
                        <h2>El president de la Generalitat hi hauria anat per entrevistar-se amb dirigents flamencs</h2>
                        </div>
                        <div class="viewsDiv">
                            <div id="views1" class="visites">1223</div>
                            <span class="nom">&nbsp;views</span>
                        </div>
                        
                        <div class="footerArticle">
                            <p>POLÍTICA</p>
                            <small>Edgar Lorenzo</small>
                        </div>

                    </section>
             </article></a>
             <a class="articulo" href="principal.html"><article class="cajaI">   
                    <header>
                        <img src="img/ciencia.jpg"/>
                    </header>
                    <section>
                        <div class="titulos">
                            <h1>La ciència avança a passos agegantats</h1>   
                            <h2>Un nou estudi permet esbrinar com s'associen els somnis</h2>
                        </div>
                        <div class="viewsDiv">
                            <div id="views" class="visites">14599</div>
                            <span class="nom">&nbsp;views</span>
                        </div>
                        
                        <div class="footerArticle">
                            <p>CIENCIA</p>
                            <small>Edgar Lorenzo</small>
                        </div>

                    </section>
             </article></a>
             <a class="articulo" href="principal.html"><article class="cajaI">   
                    <header>
                        <img src="img/news.jpg"/>
                    </header>
                    <section>
                        <div class="titulos">
                            <h1>La ciència avança a passos agegantats</h1>   
                            <h2>Un nou estudi permet esbrinar com s'associen els somnis</h2>
                        </div>
                        <div class="viewsDiv">
                            <div id="views" class="visites">14599</div>
                            <span class="nom">&nbsp;views</span>
                        </div>
                        
                        <div class="footerArticle">
                            <p>CIENCIA</p>
                            <small>Edgar Lorenzo</small>
                        </div>

                    </section>
             </article></a>
                <a class="articulo" href="principal.html"><article class="cajaI">   
                    <header>
                        <img src="img/ciencia.jpg"/>
                    </header>
                    <section>
                        <div class="titulos">
                            <h1>La ciència avança a passos agegantats</h1>   
                            <h2>Un nou estudi permet esbrinar com s'associen els somnis</h2>
                        </div>
                        <div class="viewsDiv">
                            <div id="views" class="visites">14599</div>
                            <span class="nom">&nbsp;views</span>
                        </div>
                        
                        <div class="footerArticle">
                            <p>CIENCIA</p>
                            <small>Edgar Lorenzo</small>
                        </div>

                    </section>
             </article></a>
                         <a class="articulo" href="principal.html"><article class="cajaI">   
                    <header>
                        <img src="img/ciencia.jpg"/>
                    </header>
                    <section>
                        <div class="titulos">
                            <h1>La ciència avança a passos agegantats</h1>   
                            <h2>Un nou estudi permet esbrinar com s'associen els somnis</h2>
                        </div>
                        <div class="viewsDiv">
                            <div id="views" class="visites">14599</div>
                            <span class="nom">&nbsp;views</span>
                        </div>
                        
                        <div class="footerArticle">
                            <p>CIENCIA</p>
                            <small>Edgar Lorenzo</small>
                        </div>

                    </section>
             </article></a>
            <a class="articulo" href="principal.html"><article class="cajaI">   
                    <header>
                        <img src="img/ciencia.jpg"/>
                    </header>
                    <section>
                        <div class="titulos">
                            <h1>La ciència avança a passos agegantats</h1>   
                            <h2>Un nou estudi permet esbrinar com s'associen els somnis</h2>
                        </div>
                        <div class="viewsDiv">
                            <div id="views" class="visites">14599</div>
                            <span class="nom">&nbsp;views</span>
                        </div>
                        
                        <div class="footerArticle">
                            <p>CIENCIA</p>
                            <small>Edgar Lorenzo</small>
                        </div>

                    </section>
             </article></a>
        </section> 
        
        <script src="js/mostrarNav.js"></script>
        <script>
            function numberto(n){
                x=(''+n).length;
                p=Math.pow;
                d=p(10,true);
                x-=x%3;
                return Math.round(n*d/p(10,x))/d+" kMGTPE"[x/3];
            }   
            
            function intToString (value) {
                var suffixes = ["", "K", "M", "B","t"];
                var suffixNum = Math.floor((""+value).length/3);
                var shortValue = parseFloat((suffixNum != 0 ? (value / Math.pow(1000,suffixNum)) : value).toPrecision(2));
                if (shortValue % 1 != 0) {
                    var shortNum = shortValue.toFixed(1);
                }
                return shortValue+suffixes[suffixNum];   
            }

                document.getElementById("views1").innerHTML = numberto(document.getElementById("views1").innerHTML);
            function oneDot(input) {
        var value = input.value,
            value = plainNumber(value);
        
        if (value.length > 3) {
          value = value.substring(0, value.length - 3) + '.' + value.substring(value.length - 3, value.length);
        }
        console.log(value);
        input.value = value;
      }
        </script>
    </body>
</html>



