<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport'  content='width=device-width,initial-scale=1,maximum-scale=1'/> 
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel='stylesheet' href='css/read.css'>
        <script src="js/likes.js"></script>
   </head>
    <body id="prueba" >
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="principal.html">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar"></input>
                    <button id="botonSearch" class="botonSearch">
                        <img src="img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton"></button>
                        <div style="left: -190%" class="dropContingut">
                            <a href="login.html" >Veure Perfil</a>
                            <a href="register.html">Escriure Article</a>
                            <a href="../Pagina-principal/principal.html">Sortir</a>
                      </div>
                    </div>
                </li>
            </ul>
        </header>
        <section id ="cajasArticulos" class="cajas">
        <div id="divFondo"></div>
        <nav>
            <ul class="menu">
                <li><a href="#">Inici</a></li>
                <li><a href="../Tendencies/tendencies.html">Tendències</a></li>
                <li><a data-toggle="collapse" href="#collapse1">Categories</a></li>
                <div id="collapse1" class="collapse">
                    <div class="panel-body">
                        <a href="principal.html">Política</a>
                        <a href="principal.html">Esports</a>
                        <a href="principal.html">Ciència</a>
        	            <a href="principal.html">Tecnologia</a>
        	            <a href="principal.html">Altres</a>   
                    </div>
                </div>   
                <li><a href="#">Subscripcions</a></li>
            </ul>
        </nav>
        <div class="articuloCompleto">
            <article>
                <header>
                    <p>POLÍTICA</p>
                    <h1>Puigdemont i part del seu govern són a Brussel·les</h1>
                    <h2>El president de la Generalitat hi hauria anat per entrevistar-se amb dirigents flamencs</h2>
                </header>
                
                <section>
                    
                    <div class="divImg">
                        <div class="preImagen"><div class="autor">
                            <small>per </small>
                            <a>Edgar Lorenzo</a>
                            <p>20/11/2017</p>
                        </div>
                        <div class="likesDislikes" id="rating">
                            <div class="intLike">
                                <button class="like"></button>
                                <span class="likes">12</span>
                                <button class="dislike"></button>
                                <span class="dislikes">2</span>
                            </div>
                        </div></div>
                        
                        <img src="img/puigdemont.jpg"/>
                    </div>
                    <div>
                    <pre>El president de la Generalitat, Carles Puigdemont, ha viatjat a Brussel·les aquest dilluns, segons ha informat El Periódico i han confirmat diverses agències, a partir de fonts governamentals. Puigdemont s'hauria desplaça a la capital comunitària acompanyat de membres del seu Executiu, que podrien comparèixer demà dimarts a la ciutat. El president i els consellers que l'acompanyen són "en un entorn segur i discret", segons ha informat TV3.
                    
L'oficina de la Generalitat a Brussel·les és l'única de les seus del Govern català a l'exterior que el Govern espanyol no ha ordenat dissoldre. De fet, el president Mariano Rajoy ho va explicitar en la seva compareixença de divendres passat, quan va anunciar les mesures per intervenir l'administració de la Generalitat en aplicació del 155, i quan va convocar eleccions per al 21D

El viatge del president a la capital comunitària es produeix el primer dia laborable després de l'aplicació del 155. I hores després que el secretari d'estat d'Asil i Immigració, Theo Francken, afirmés que Puigdemont, així com "els catalans que se sentin políticament amenaçats", podrien demanar asil a Bèlgica. El primer ministre belga, Charles Michel, va precisar posteriorment que aquestes afirmacions no significaven una oferta del Govern del seu país, i que aquest punt no era "en l'ordre del dia" de l'Executiu belga.

Francken pertany al partit sobiranista flamenc N-VA, mentre que Michel (való) forma part del liberal MR. La Sexta assegura que la intenció de Puigdemont és efectivament demanar asil polític a Bèlgica. El propi Michel ha estat un dels dirigents europeus més crítics amb les actuacions del Govern espanyol per reprimir el procés sobiranista. En una entrevista a Le Soir el passat dia 14, Michel va apostar per una mediació internacional si fracassava el diàleg entre els governs català i espanyol. Aquestes declaracions van motivar una protesta diplomàtica des de Madrid. Prèviament, MIchel havia estat un dels primers líders europeus a condemnar la violència policial l'1-O. 

Passades les vuit de la tarda, l'advocat belga Paul Bekaert ha difós a mitjans de comunicació del seu país que Puigdemont l'ha contactat per "defensar els seus interessos a Bèlgica en un futur", segons informa Europa Press. El despatx de Bekaert està especialitzat en drets humans, i s'ha encarregat de la defensa de la presumpta membre d'ETA Natividad Jáuregui, a qui la justícia belga ha rebutjat en diverses ocasions extraditar a Espanya, acusada per la justícia espanyola de diversos atemptats mortal comesos el 1981.
</pre>

                </div>
                </section>
                <footer></footer>
            </article>
        </div>
     

        </section> 
        <script src="js/mostrarNav.js"></script>
        <script type="text/javascript">
        $('#rating').likeDislike({
            initialValue: 0,
            click: function (value, l, d, event) {
                var likes = $(this.element).find('.likes');
                var dislikes = $(this.element).find('.dislikes');

                likes.text(parseInt(likes.text()) + l);
                dislikes.text(parseInt(dislikes.text()) + d);
            }
        });
    </script>
    </body>
</html>


