<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' min-width="20%" content='width=device-width,initial-scale=1,maximum-scale=1'/>
        <link rel='stylesheet' href='style.css'>
        <script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    </head>
    <body id="prueba">
        <header  class="capsaHeader">
            <ul class="barraSuperior">
                <li id="btnMostrarNav" class="imgMenu">
                    <img src="img/menuBlanco.png"/>
                </li>
                <li class="cajaLogo">
                    <a class="logo" href="principal.html">DailyLiberty</a>
                </li>
                <li id="buscador" class="buscador">
                    <input id="search" type="search" placeholder="Buscar"></input>
                    <button id="botonSearch" class="botonSearch">
                        <img src="img/lupaBuscador.png"/>
                    </button>
                </li>
                <li class="login">
                    <div class="dropLogin">
                        <button class="dropBoton">Login</button>
                        <div class="dropContingut">
                            <a href="login.html" >Sign in</a>
                            <a href="register.html">Register</a>
                            <a href="about.html">About us</a>
                      </div>
                    </div>
                </li>
            </ul>
        </header>
        <nav>
            <div id="divFondo"></div>
            <ul class="menu">
                <li><a href="#">Inici</a></li>
                <li><a href="#">Tendències</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Subscripcions</a></li>
            </ul>
        </nav>
        <div id="wrapper">
          <div class="perfil">
            <h1 class="t1">Edit my profile:</h1><br>
            <table height="267px" class="editprofile">
              <tr>
                <th>· Username:</th>
                <th class="user">myusername</th>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <th>· Full name:</th>
                <th><textarea id="ta1" style="resize: none"name="fullname" cols="33" rows="1"></textarea></th>
              </tr>
              <tr>
                <th>· Email:</th>
                <th><textarea id="ta2" style="resize: none"name="mymail" cols="33" rows="1"></textarea></th>
              </tr>
              <tr>
                <th>· Birth date:</th>
                <th><textarea id="ta3" style="resize: none"name="mybirth" cols="33" rows="1"></textarea></th>
              </tr>
              <tr>
                <th>· About me:</th>
                <th><textarea id="ta4" style="resize: none"name="sobremi" cols="33" rows="5"></textarea></th>
              </tr>
            </table>
          </div>
          <div class="cajafoto">
            <div class="foto">
              <img width="150px" height="150px" src="https://www.drupal.org/files/profile_default.jpg" alt="pic"><br><br>
              <form action="">
                <input type="file" name="pic" accept="image/*">
              </form>
            </div>
          </div>
        </div>
        <br><br>

        <button class="savechanges" onclick="editarperfil()" name="button">Save changes</button>

        <script src="mostrarNav.js"></script>
        <script src="setdefaulttext.js"></script>
        <script>alert('TO DO: CAL EDITAR LA BARRA PERQUÈ SIGUI NOMÉS PER USUARIS CONNECTATS + ESBORRAR CERCADOR')</script>

    </body>
</html>
