<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DailyLiberty  |  Edit your article</title>
  <link rel=StyleSheet href="crear_article.css" type="text/css" media=screen>
</head>
<body>
  <div class="box">
    <!--<img class="kov" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/W%26W_Logo.png" alt="KOV">-->
      <p class="subt"><u><b>Edit your article</b></u></p>
      <p class="subtitle"><b>Fill in the empty fields:</b></p>
    <form class="form">
      <span>
          <label class="tamany"><b>Title*</b></label><br>
        <textarea class="textarea1" name="" required></textarea>
          <br><br><label class="tamany"><b>Subtitle*</b></label><br>
        <textarea class="textarea2" name="" required></textarea>
      </span>
        <span>
            <br><br><label class="tamany"><b>Description*</b></label><br>
      <textarea class="textarea3" name="" required></textarea>
       </span>
        <span>
            <br><br><label class="tamany"><b>Insert an image</b></label><br><br>
            <button type="button" onclick="">Click here</button>
       </span><br><br>
         <br><br>
      <button class="but" type="submit" name="button">Cancel</button>
       <button class="but" type="submit" name="button">Save Changes</button><br><br>
     <p class="asterisco">*required fields</p>
    </form>
  </div>
</body>
</html>